
<div class ="container">
  <h1>
  Visible Project
  </h1>
  <div>
    <%= form_for @startup do |f|%>
    <ul class="form">
	  <li>
		<%= f.label :website%>
		<%= f.text_field :website%>
	  </li>
	  <li>
		<%= f.label :name%>
		<%= f.text_field :name %>
	  </li>
	  <li>
		<%= f.label :logo_url%>
		<%= f.text_field :logo_url %>
	  </li>
      <li> 
        <%= f.label :logo %>
        <%= f.file_field :logo %>
      </li>

	  <li>
		<%= f.label :state%>
		<%= f.text_field :state %>
	  </li>
	  <li>
		<%= f.label :city%>
		<%= f.text_field :city %>
	  </li>
	  <li class = "textarea">
		<%= f.label :description%>
		<%= f.text_area :description%><br/>
	  </li>
	  <li>
		<%= f.label :pitch %>
		<%= f.text_field :pitch %><br/>
	  </li>
	  <li class= "textarea">
		<%= f.label :markets%>
		<%= f.text_area :markets%><br/>
	  </li>
	  <li>
		<%= f.label :angel_url %>
		<%= f.text_field :angel_url %><br/>
	  </li>
	  <li>
		<%= f.submit %>
	  </li>

    </ul>
    <%end%>

  </div>
  <input type="submit" id="pull_website" value="Fill From Angellist">
<div class=photo>
</div>
</div>
